<h3>New Orders</h3>
<table class="w-100">
  <tr>
    <th>Date</th>
    <th>Order Num</th>
    <th>Name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Postcode</th>
    <th>Town</th>
    <th>Phone Number</th>
    <th>Order</th>
    <th>Ready</th>
    <th>Courier</th>
  </tr>
  <% @new_customers.each do |customer| %>
    <tr>
      <td><%= customer.date.strftime("%d-%b-%Y") %></td>
      <td>
        <%= link_to customer_path(customer) do %>
        <%= customer.order_num %>
        <% end %>
      </td>
      <td><%= customer.name %></td>
      <td><%= customer.address1 %></td>
      <td><%= customer.address2 %></td>
      <td><%= customer.postcode %></td>
      <td><%= customer.town %></td>
      <td><%= customer.phone_number %></td>
      <td>
        <% customer.orders.map do |order| %>
          <p><strong><%= order.quantity %></strong> x
          <%= order.product.description %></p>
        <% end %>
      </td>
      <td>
        <%= link_to ready_path(customer), method: :patch, remote: true do %>
          <i class="<%= customer.ready ? 'fas fa-check' : 'fas fa-times' %>"></i>
        <% end %>
      </td>
      <td>
        <% if customer.courier.nil? || customer.courier.blank? %>
          <%= simple_form_for customer, url: courier_path(customer), html: { class: 'trigger' }, method: :patch do |f| %>
            <%= f.input :courier, collection: ['DPD', 'Deevee'], label: false %>
          <% end %>
        <% else %>
          <%= customer.courier %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
