<h3>Issues</h3>
<table class="w-100">
  <tr>
    <th>Date</th>
    <th>Order Num</th>
    <th>Reports</th>
  </tr>
  <% @customers_reports.each do |customer| %>
    <tr>
      <td><%= customer.date.strftime("%d-%b-%Y") %></td>
      <td>
        <%= link_to customer_path(customer) do %>
          <%= customer.order_num %>
        <% end %>
      </td>
      <td>
        <%= link_to customer_path(customer) do %>
          <%= customer.reports.count %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
