<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= form_for @items_import do |f| %>
  <%= f.file_field :filepath %>
  <%= f.submit 'Upload' %>
<% end %>

<% @customers.each do |customer| %>
  <div class="d-flex">
    <p><%= customer.date %> -
      <%= customer.order_num %> -
      <%= customer.name %> - </p>
      <div>
      <% customer.orders.map do |order| %>
          <p><%= order.quantity %>x
          <%= order.product.description %></p>
      <% end %>
      </div>
  </div>
<% end %>
