<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= form_for @items_import do |f| %>
  <%= f.file_field :filepath %>
  <%= f.submit 'Upload' %>
<% end %>
<div id="new-orders">
  <% @new_customer.each do |customer| %>
    <div class="d-flex">
      <p><%= customer.date.strftime("%d-%b-%Y") %> -
        <%= customer.order_num %> -
        <%= customer.name %> -
        <%= customer.address1 %> -
        <%= customer.address2 %> -
        <%= customer.postcode %> -
        <%= customer.town %> -
        <%= customer.phone_number %> -
      </p>
        <div>
        <% customer.orders.map do |order| %>
            <p><strong><%= order.quantity %>x
            <%= order.product.description %></strong></p>
        <% end %>
        </div>
    </div>
  <% end %>
</div>

<div id="to-be-completed">

</div>

<div id="issues-list">

</div>
