<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= form_for @items_import do |f| %>
  <%= f.file_field :filepath %>
  <%= f.submit 'Upload' %>
<% end %>
<div id="new-orders">
  <table>
    <tr>
      <th>Date</th>
      <th>Order Num</th>
      <th>Name</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Postcode</th>
      <th>Town</th>
      <th>Phone Number</th>
      <th>Order</th>
      <th>Ready for collection</th>
      <th>Courier</th>
    </tr>
    <% @new_customers.each do |customer| %>
      <tr>
        <td><%= customer.date.strftime("%d-%b-%Y") %></td>
        <td><%= customer.order_num %></td>
        <td><%= customer.name %></td>
        <td><%= customer.address1 %></td>
        <td><%= customer.address2 %></td>
        <td><%= customer.postcode %></td>
        <td><%= customer.town %></td>
        <td><%= customer.phone_number %></td>
        <td>
          <% customer.orders.map do |order| %>
            <p><%= order.quantity %> x
            <%= order.product.description %></p>
          <% end %>
        </td>
        <td>
          <i class="<%= customer.ready ? 'fas fa-check' : 'fas fa-times' %>"></i></td>
      </tr>
    <% end %>

  </table>
</div>





<!--  -->

<div id="to-be-completed">

</div>

<div id="issues-list">

</div>
